/* home.css - zakuro's personal space */

body {
  background-image: url(../assets/graphics/d39-bg-polkadot.gif);
  min-height: 100vh;
  margin: 0;
  font-family: basiic;
}

@font-face {
  font-family: "basiic";
  src: url("../assets/fonts/basiic.ttf");
}